[Unit]
Description=PIM Daemon
After=network.target
Conflicts=mrouted.service smcroute.service

ConditionPathExists=/etc/pimd.conf

[Service]
Type=forking
Restart=on-failure
PIDFile=/var/run/pimd.pid

ExecStart=/usr/bin/pimd

ExecReload=/usr/bin/kill --signal HUP "${MAINPID}"

[Install]
WantedBy=multi-user.target
