[Unit]
Description='hosts.d update'

[Service]
Type=oneshot
User=dnsmasq
Group=dnsmasq
ExecStart=/usr/bin/hostsupdate.py
ExecStart=/usr/bin/systemctl reload dnsmasq
